.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.venv*
__pycache__
*.py[cod]
*.egg-info
.coverage
coverage.xml
htmlcov
build
dist
instance
tests
.env
.env.*
!.env.example
!.env.docker.example
.idea
.vscode
.DS_Store
docker-compose*.yml
